*{margin: 0; padding: 0;box-sizing: border-box;}





body{
    background-image: url('img/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

}


#section{
    width: 600px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.404);
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}

#section #inputConfirm input{
    height: 40px;
    position: absolute;
    bottom: 40px;
    width: 200px;
    transform: translateX(-50%);
    background-color: #9389BC;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

#section #inputConfirm input:hover{
    width: 250px;
}





#content{
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;

}
#content p{
    text-align: left;
    margin-bottom: 10px;
    color: #9389BC;
    font-weight: bold;
    font-size: 12px;
}

#content input[type='text']{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #9389BC;
}


#content-data{
    background-color: white;
    border-left: 10px solid #9389BC;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    height: 80px;
    color: grey;
        display: none;

}

#content-data p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Open Sans', sans-serif;


    
}


@media screen and (max-width:650px){
    

#section{
    width: 90%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.404);
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}
}

.radio-select{
    display: flex;
    width: min-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;

}

.radio-select input{
    margin-left: 20px;
    margin-right: 20px; 
    height: 20px;
    border: none;
    outline: none;
    padding: 20px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #9389BC;
    display: inline-block;
}


@keyframes balancoDisplayDebug{

    0%{
        transform: translateX(0px)
    }

    25%{
        transform: translateX(5px)
    }

    50%{
        transform: translateX(-5px)
    }

    100%{
        transform: translateX(0px)
    }

}